/*
 * Device Tree Source for Qualcomm MSM8974PRO-AC Samsung Galaxy S5 Active (SC-02G / kltedcmactive)
 *
 * Copyright (c) 2014, The Linux Foundation. All rights reserved.
 * Copyright (c) 2015-2018, Samsung Electronics Co., Ltd.
 */

/dts-v1/;

#include "msm8974pro-ac.dtsi"
#include "msm8974-sec-klte.dtsi"

/ {
	model = "Samsung Electronics, Galaxy S5 Active NTT docomo (SC-02G / kltedcmactive)";
	compatible = "samsung,kltedcmactive", "qcom,msm8974pro-ac", "qcom,msm8974";
	qcom,msm-id = <194 0x20000>;
	qcom,board-id = <0x8 0x0>;

	/* Dedicated Active Key (Orange button on left side) */
	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		button@active {
			label = "Active Key";
			linux,code = <249>; /* KEY_APPSELECT */
			gpios = <&msmgpio 91 0x1>; /* Active key GPIO pin 91 */
			gpio-key,wakeup;
			debounce-interval = <15>;
		};

		button@home {
			label = "Home Key";
			linux,code = <172>; /* KEY_HOME */
			gpios = <&msmgpio 90 0x1>;
			gpio-key,wakeup;
			debounce-interval = <15>;
		};

		button@volup {
			label = "Volume Up";
			linux,code = <115>; /* KEY_VOLUMEUP */
			gpios = <&msmgpio 106 0x1>;
			debounce-interval = <15>;
		};

		button@voldown {
			label = "Volume Down";
			linux,code = <114>; /* KEY_VOLUMEDOWN */
			gpios = <&msmgpio 107 0x1>;
			debounce-interval = <15>;
		};
	};

	/* Synaptics Touchscreen & Front Physical Nav Keys */
	i2c@f9923000 {
		synaptics@20 {
			compatible = "synaptics,rmi4-i2c";
			reg = <0x20>;
			interrupt-parent = <&msmgpio>;
			interrupts = <17 0x2>;
			synaptics,reset-gpio = <&msmgpio 16 0x0>;
			synaptics,irq-gpio = <&msmgpio 17 0x2008>;
			synaptics,display-coords = <0 0 1080 1920>;
			synaptics,sensor-coords = <0 0 1080 1920>;
		};
	};

	/* NFC NXP PN547 / FeliCa eSE I2C connection */
	i2c@f9924000 {
		pn547: pn547@28 {
			compatible = "nxp,pn547";
			reg = <0x28>;
			interrupt-parent = <&msmgpio>;
			interrupts = <67 0x2>;
			nxp,enable-gpio = <&msmgpio 68 0x0>;
			nxp,firmware-gpio = <&msmgpio 69 0x0>;
		};
	};

	/* Samsung AMOLED Display Subsystem (S6E3HA2) */
	mdss_dsi0: qcom,mdss_dsi@fd922800 {
		qcom,dsi-pref-prim-pan = <&dsi_samsung_ea8061_fhd_cmd>;
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&mdss_dsi_active &mdss_te_active>;
		pinctrl-1 = <&mdss_dsi_suspend &mdss_te_suspend>;
	};
};
